:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/pokemon_bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  justify-content: start;
  gap: 15px;
  color: white;
}
#icon {
  width: 10px;
  height: 10px;
}
